<launch>

    <remap from="/map" to="/rtabmap/grid_map" />

    <!-- Launch the move_base node with the specified config files -->
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">

        <param name="base_global_planner" value="global_planner/GlobalPlanner" />

        <rosparam file="$(find navigation)/params/costmap_common_params.yaml"       command="load" ns="global_costmap" />
        <rosparam file="$(find navigation)/params/costmap_common_params.yaml"       command="load" ns="local_costmap" />
        <rosparam file="$(find navigation)/params/costmap_local_params.yaml"        command="load" />
        <rosparam file="$(find navigation)/params/costmap_global_params.yaml"       command="load" />
        <rosparam file="$(find navigation)/params/base_local_planner_params.yaml"   command="load" />
        <rosparam file="$(find navigation)/params/global_planner_params.yaml"       command="load" />

    </node>
</launch>
